@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Rubik:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Rubik, 'Courier New', Courier, monospace;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    width: 100%;
    background-color: #3D4665;
}

nav ul {
    color: azure;
    display: flex;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
}

nav li {
    margin-left: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-selected {
    border-bottom: 3px solid rgb(176, 146, 85);
}

.main-content {
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(184, 92, 92, 0.308);
}

.accounts {
    width: 100%;
    padding: 10px;
    background-color: white;
}

.accounts thead tr {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.accounts tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px;
    font-family: Montserrat, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.demand-list {
    /* background-color: rgb(120, 13, 13); */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.demand-text {
    padding: 10px;
    font-family: MontSerrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.demand-title {
    font-size: 1.2em;
}
.demand-link {
    padding: 10px;
    font-family: MontSerrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.demand-user {
    padding: 10px;
    font-family: MontSerrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.demand-item {
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    background-color: #3D4665;
    color: rgb(255, 255, 255);
    margin: 10px;
}


.button {
    cursor: pointer;
    text-align: center;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    padding: 7px 20px;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-right: 5px;
}

.button:hover {
    box-shadow: 0 0 10px whitesmoke;
}

.button-valid {
    background: rgb(62, 192, 146);
}

.button-invalid {
    background: rgb(189, 75, 75);
}

.buttons {
    display: flex;
}